.nav {
    position: fixed;
    top: 0;
    display: flex;
    object-fit: contain;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_logo {
    margin-left: 10px;
    padding: 10px;
    left: 0;
}
.nav_avatar {
    object-fit: contain;
    margin-right: 10px;
    padding: 10px;
}
.nav_black {
    background-color: black;
}